
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/style.css" />

<title>accueil</title>

</head>

<body>
	<!-- haut de page  -->
	<p id="top"></p>

	<header>
		<div class="entete">
			
			<h1>Sport Nat'</h1>
		</div>
	</header>
	
	<nav>
		<div class="table">
			<ul>
				<li class="menu-monco"><a href="moncompte.html">Mon Compte</a></li>
			    <li class="menu-stat"><a href="statistique.html">Mon historique</a></li>
			   <li class="menu-agen"><a href="agenda.html">Mon Agenda</a></li>
			    <li class="menu-acc"><a href="accueil.html">Accueil</a></li>	
				
			</ul>
		</div>
	</nav>
	
	
	<article>
	
	<div class="haut">
	
	<a href="proposerAct.html" target="_blank">  <button>Proposer une activité</button> </a> <br/>
	</div>
	
	<div class="bas">
	<a href="rechercherAct.html" target="_blank">   <button>Rechercher une activité</button> </a>
	</div>
		</article>
	

	