<!DOCTYPE html>
<html lang="fr">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title>SportNat - Agenda</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  
  <!-- Custom styles for this template -->
  <link href="css/grayscale.min.css" rel="stylesheet">

</head>

<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/index">Accueil</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/agenda">Mon Agenda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/statistiques">Mon Historique</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/moncompte">Mon Compte</a>
          </li>
           <a class="nav-link js-scroll-trigger"  value="Déconnexion">Déconnexion</a>
          <li>
          </li>
        </ul>
      </div>
    </div>
  </nav>

	

	 <header class="masthead">
 <section class="contenu">
	<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Description</th>
      <th scope="col">Lieu</th>
      <th scope="col">Temps</th>
      <th scope="col">Nombre de personne</th>
      <th scope="col">Nombre de km</th>
      <th scope="col">Commentaires</th>
      <th scope="col">S'inscrire</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="activite : ${listActivite}">
      <th th:utext="${activite.activiteId}"></th>
      <td th:utext="${activite.description}"></td>
      <td th:utext="${activite.lieu}"> </td>
      <td th:utext="${activite.timeofActivity}"> </td>
      <td th:utext="${activite.nbrePers}"> </td>
      <td th:utext="${activite.nbreKm}"> </td>
      <td><a href="commentaire.html" class="btn btn-default btn-lg active" role="button" title="Commentaire">Ajouter un commentaire</a></td>
   	<td><a href="addActivite.html" class="btn btn-default btn-lg active" role="button" title="S'inscrire">S'inscrire</a></td>
    </tr>
   
  </tbody>
</table>
	

	
	
	</section>
	</header>
	</html>